<table align="center">
    <tr>
        <td style="">
            <h1>Test Cube Summation - Integ.ro</h1>
            <table align="center" >
                <tr>
                    <td class="text-left">[T] Number test-cases</td>
                    <td><input type="text" id="number_tests"></td>
                </tr>
                <tr>
                    <td colspan="2"><button id="btn_step_2">Continue</button></td>
                </tr>
            </table>
            <br>
            <br>
            <div id="div_tests" class="" style="width:800px;">
                <!-- Content multiple test-->
            </div>
        </td>
    </tr>
</table>